{% extends "@SevenFE/layout.html.twig" %}

{% block main %}
{% block fos_user_content %}
{% include "SevenFEBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
    <a href="{{ url("fos_user_profile_edit") }}">Edit</a>
{% endblock main %}
